#whole-page{
  background: #000000;
  background: -webkit-linear-gradient(to top, #1d1c1c, #000000);
  background: linear-gradient(to top, #1d1c1c, #000000);
  color: white;
  font-family: "Monaco";
}

img {
  width: 150px;
  height: 150px;
}

header h1{
  display: flex;
  justify-content: center;
  font-size: 80px;
  margin: 0px;
  padding: 20px;
}

#statistics{
  border-style: solid;
  border-width: 5px;
  border-color: #0F0F0F;
  border-radius: 5px;
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #191919;
}

.comedian-header-container h1{
  padding: 15px;
  padding-top: 40px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.all-comedians{
  display: inline-block;
  border-style: dotted;
  border-width: 4px;
  border-color: #191919;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
  background-color: #0F0F0F;
}

.comedian-content{
  padding: 1px;
}

.new-comedian-container{
  display: inline;
  display: flex;
  justify-content: center;
  height: 1000px;
  display: flex;
  margin-top: 120px;
}

.all-comedians h4{
    font-size: 20px;
}

form {
  padding: 35px;
  display: flex;
  flex-direction: column;
}
