<!doctype html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/main.css' />
    <title>Laugh Tracks</title>
  </head>
  <body>
    <header>
      <h1>Laugh Tracks</h1>
    </header>
      <%=yield%>
  </body>
</html>
